.team {width: 1336px;
        height: 175px;
    }
.titlediv {width: 716px;
            height:26px; 
          
          padding-left: 310px;padding-top: 80px;
          } 
.title {display: flex; justify-content:center;
     font-size: 16px; font-family: 'Inter', sans-serif; }
.maintitle {color: #282828;
    display: flex; 
    justify-content:center;
     font-size: 62px;font-family: 'Inter', sans-serif;}
.textdiv {display: flex; justify-content: center;
width: 760px;
height: 70px;
padding-left: 340px;
padding-top: 16px;}
.text {font-size: 20px; line-height: 35px;
color: #5F6980;font-family: 'Inter', sans-serif;}
.upperbox {width: 1336px;
            height: 430px;
        background-color: #FFFFFF ;
    margin-top: 110px; display:flex;
margin-left:52px;margin-right: 52px;
 }.lowerbox{width: 1336px;
    height: 430px;
background-color: #FFFFFF ;
margin-top:48px; display:flex;
margin-left:52px;margin-right: 52px;
}
.box {width:310px ;
 height: 430px;    }
.image {padding-top: 0;width: 310px;
        height: 230px;}
        .second {margin-left: 32px;
                margin-right: 32px;}
                .fourth {margin-left: 32px;
                  margin-right: 32px;}
.name { display:flex; 
                text-align:center;
                   font-size: 18px;font-family: 'Inter', sans-serif;
                padding-left: 16px; margin-top: 16px; line-height: 30px;}
.proff  { display:flex; text-align:center;
                    padding-left:16px;
                margin-top: 4px; line-height: 22px;
                   font-size: 14px;
                color: #3E3E59;font-family: 'Inter', sans-serif;}
 .loremtext {
         width:278px ;
        height:44px ;
        margin-top:8px;
    display:flex; text-align:center;
    padding-left:16px; 
font-size: 14px; line-height: 22px;
color: #3E3E59;font-family: 'Inter', sans-serif;}
.socialicons {background-color: #FFFFFF;
            margin-top: 24px;
            width:278px ;
                height: 36px;
                display: flex;flex-direction: row;
                }
                
            
    .fb {padding-left:16px;
       padding-bottom: 16px; 
       width:36px ;
       height: 36px;}
     .insta { margin-left: 16px;
     margin-right: 16px;}
     .first {background-color: red;}

     .service 
     {margin-top: 48px;
        width: 1440px;
    
     height: 453px;
    background-color: #a8a6a6;}

    .footdiv { width: 1654px;
     height: 512px;
     display: flex;
     margin-top: 108px;
     padding-left: 52px;
     padding-right: 52px;
     padding-bottom: 181px;
    ;}
    .socicons {width:318.05px ;
       height: 221px;
       padding-top:108px; 
    padding-left: 52px;
    padding-bottom: 83px;
}
.logo1 { padding: auto;width: 100px;
         height: 64px;}
.foottext {margin-top: 32px;font-size: 14px;
line-height: 16.94px;
font-family: 'Inter', sans-serif;
color:#535353;}
.sicons {display: flex;
     flex-direction: raw;
    margin-top: 28px;}
    .instasize {margin-left:18.23px ;
         margin-right:18.23px ;}
         .linksdiv { width: 136px;
        height: 223px;
          margin-top: 108px;
        margin-left: 144.95px;
    }
    .links {font-size: 20px;
    line-height: 24.20px;font-family: 'Inter', sans-serif;}
.list {margin-top: 71px; font-size: 14px;
color: #535353;line-height: 16.94px; font-family: 'Inter', sans-serif;
}
.aboutlist {margin-top: 20px;
  margin-bottom: 20px;
 }
 .listservices {width:199px ;
height: 223px;
margin-top: 108px;
margin-left: 254px;}
.langdiv {width: 107px;
          height: 127.45px;
        margin-top: 108px;
    margin-left: 147px;
   margin-right: 184px;}
.smalldiv{width:80px ;
 height:45px ;
 background-color: #054A68;
 margin-top: 58.45px;}
.eng {color: #FFFFFF;
font-size: 14px;
padding-top:14px ;
padding-left: 16px;
padding-bottom: 16px;
padding-right: 14px;
font-family: 'Inter', sans-serif;}